<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="abv">

    <xacro:include
        filename="$(find abv_description)/urdf/abv_chassis.urdf.xacro"
    />
    <xacro:include
        filename="$(find abv_description)/urdf/manipulators/widow_xl.urdf.xacro"
    />

    <link name="world" />

    <xacro:abv_chassis parent="world">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:abv_chassis>

    <xacro:widow_xl prefix="wxr_" parent="vehicle_link">
        <origin xyz="0.155 -0.205 0.3" rpy="0 -1.57 1.57" />
    </xacro:widow_xl>

    <xacro:widow_xl prefix="wxl_" parent="vehicle_link">
        <origin xyz="0.155 0.205 0.3" rpy="0 1.57 1.57" />
    </xacro:widow_xl>

</robot>
